
<h1>Sign Up</h1>
<form action="/signup" method="POST">
  <input type="text" id="username" name="user[username]" placeholder="Username:">
  <input type="text" id="email" name="user[email]" placeholder="Email:">
  <input type="password" id="password" name="user[password]" placeholder="Password:">
  <input type="submit" value="Sign Up">
</form>