<h1> Create a Player</h1>
<form action="/player/new" method="POST">

  <lable>Content</label>
    <input type="text" id="content" name="tweet[content]"><br></br>

    <input type="submit" id="submit" value="Create Player">
</form>

<h3><a href="/logout">Log Out</a>